#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

# kyotocabinet uses 8 byte atomics by default
# http://gcc.gnu.org/wiki/Atomic
ifeq (arm,$(DEB_HOST_ARCH_CPU))
CONFIG_OPTS += --disable-atomic
endif

ifeq (sh,$(DEB_HOST_ARCH_CPU))
CONFIG_OPTS += --disable-atomic
endif


override_dh_auto_configure:
	dh_auto_configure -- \
--enable-zlib \
--enable-lzo \
--enable-lzma \
--prefix=/usr \
$(CONFIG_OPTS)

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/tmp prefix=/usr install
	ln -s $$(pwd)/debian/tmp/usr/share/doc/libkyotocabinet16 $$(pwd)/debian/tmp/usr/share/doc/libkyotocabinet16-dbg
	ln -s $$(pwd)/debian/tmp/usr/share/doc/libkyotocabinet16 $$(pwd)/debian/tmp/usr/share/doc/libkyotocabinet16-dev

override_dh_strip:
	dh_strip --package=libkyotocabinet16 --dbg-package=libkyotocabinet16-dbg
	dh_strip

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

%:
	dh $@
